<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; 2022 <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		<p>“保持热爱，奔赴星海” powered by hexo&amp;yilia</p>
      	</div>
    </div>
  </div>
</footer>